.floormap{
    position: relative;
    display: block;
}
.floormap div{
    all: unset;
    position: relative;
    display: block;
    margin: 50px 0px 10px 0px;
}
.floormap div a{
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--blue);
    font-weight: 700;
    border: 2px solid var(--blue);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.floormap div a:hover{
    background-color: var(--blue);
    color: white;
}
.floormap div:nth-of-type(2){
    display: flex;
    position: relative;
    width: auto;
    flex-flow: row wrap;
    margin-right: 10px;
   align-content: space-around;
}
.floormap div:nth-of-type(2) img{
    flex-shrink: 0;
    position: relative;
    width: 50%;
    padding: 5px;
}

@media only screen and (max-width: 480px){
    .floormap div:nth-of-type(2){
        flex-flow: column wrap;
       align-content: unset;
    }
    .floormap div:nth-of-type(2) img{
        width: 100%;
    }
}